{% extends "layout.html" %}

{% block content %}
<div class="media bg-custom-1 text-white shadow-lg p-3 mb-5 bg-white rounded">
    <img src="https://media.discordapp.net/attachments/931640602490187866/938421787153297458/ezgif.com-gif-maker_4.gif" class="mr-3" alt="...">
    <div class="media-body">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>¿Quieres probar el funcionamiento del bot?</strong> tal vez quieras visitar nuestro <a href="https://discord.gg/yqhmHNEYjK">discord</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h5 class="mt-0">Crypto$</h5>
      <p>Crypto$ es un bot desarrollado por Usuariozombie, para el seguimiento a timepo real de criptomonedas con el objetivo de poder mantener a los usuarios informados de todas las fluctuaciones en el criptomercado:
      </p>
      <p>
        -Obtén los precios de más de 100 criptomonedas diferentes con tan solo un comando (aunque no estén disponibles en la tabla pueden ser solicitadas)
      </p>
      <p>
        -Soporte de las principales divisas (euros, dólares, libras...)
      </p>
      <p>
        -Sistema de alarma cuando la criptomoneda llega al precio indicado por el usuario
      </p>
      <p>
        -Prefijo configurable
      </p>
      <p>
        Progreso actual:
      </p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <b>COMPLETADO 100%</b> </div>
      </div>
      <p>

      </p>
      <a class="btn btn-outline-success" href="https://github.com/usuariozombie/CryptoS.git">Descargar ahora</a>
    </div>
    
</div>

{% endblock %}