<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome to ZomBreX</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="header">ZomBreX</div>

        <div class="container">
            <div class="text-wrapper">
                <div class="text-1 text">STARTING</div>
                <div class="text-2 text">STARTING</div>
                <div class="text-3 text">STARTING</div>
                <div class="text-4 text">STARTING</div>
                <div class="text-5 text">STARTING</div>
                <div class="text-6 text">|ZOMBREX|</div>
                <div class="text-7 text">STARTING</div>
                <div class="text-8 text">STARTING</div>
                <div class="text-9 text">STARTING</div>
                <div class="text-10 text">STARTING</div>
                <div class="text-11 text">STARTING</div>
            </div>
        </div>
    </body>
    <meta http-equiv="refresh" content="10; url=home" />
</html>