{% extends "layout.html" %}

{% block content %}
<div class="media bg-custom-1 text-white shadow-lg p-3 mb-5 bg-white rounded">
    <img src="https://media.discordapp.net/attachments/931640602490187866/932733943000748122/ezgif-7-66ced5833e.gif" class="mr-3" alt="...">
    <div class="media-body">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>¿Quieres probar el funcionamiento del bot?</strong> tal vez quieras visitar nuestro <a href="https://discord.gg/yqhmHNEYjK">discord</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h5 class="mt-0">ZomBot</h5>
      <p>ZomBot es un bot desarrollado por Usuariozombie, con el propósito de cubrir necesidades básicas de los usuarios de discord, tiene muchísimas opciones que facilitan la estancia en servidores. Sus funcionalidades son variadas y diferentes a lo que acostumbra un bot de discord normal. Entre sus funcionalidades podemos encontrar:
      </p>
      <p>
        -Sistema de AFK
      </p>
      <p>
        -Comandos de moderación
      </p>
      <p>
        -Sistema de confesiones
      </p>
      <p>
        -Sistema de agenda y recordatorios
      </p>
      <p>
        -Prefijo configurable
      </p>
      <p>
        -Compatibilidad con Youtube Together
      </p>
      <p>
        -Información básica del servidor y el bot
      </p>
      <p>
        -Sistema de Logs
      </p>
      <p>
        Progreso actual:
      </p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"><b>EN DESARROLLO 75%</b></div>
      </div>
    </div>
  
    
    
</div>

<!--<div class="usu">

    <div class="nick"></div>

</div>-->

{% endblock %}