{% extends "layout.html" %}

{% block content %}
<div class="media bg-custom-1 text-white shadow-lg p-3 mb-5 bg-white rounded">
    <img src="https://media.discordapp.net/attachments/931640602490187866/938407569112850482/ezgif.com-gif-maker_3.gif" class="mr-3" alt="...">
    <div class="media-body">
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>¿Quieres probar el funcionamiento del bot?</strong> tal vez quieras visitar nuestro <a href="https://discord.gg/yqhmHNEYjK">discord</a>.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h5 class="mt-0">ZomBeats</h5>
      <p>ZomBeats es un bot desarrollado por Usuariozombie, para la reproducción de contenido multimedia de Youtube, así como para permitir a los usuarios progresar y subir de nivel en un servidor de discord y competir por los puestos en la tabla de puntuaciones:
      </p>
      <p>
        -Sistema completo de reproducción de música
      </p>
      <p>
        -Información completa de canción, link, letra, duración...
      </p>
      <p>
        -Sistema de niveles y scoreboard
      </p>
      <p>
        -Roles ganados por nivel configurables
      </p>
      <p>
        Progreso actual:
      </p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><b>EN DESARROLLO 90%</b></div>
      </div>
    </div>
    
    
</div>

{% endblock %}